
html, body{
	height:100%%;
	 
	padding: 0px;
	margin: 0px;
	
}
.S{
	margin-left:15px;

}
.S2{
	margin-left:-55px;

}
.tilePM{
  width: 260px;
  height: 215px;
  padding-top:10px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;
  margin-top:35px;
  margin-left:-565px;
}
.tileWD{
  width: 260px;
  height: 215px;
  padding-top:10px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;
  margin-top:285px;
  margin-left:-565px;
}
.tileIP{
  width: 260px;
  height: 215px;
  padding-top:10px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;  
  margin-top:285px;
  margin-left:-278px;
}
.tileVR{
  width: 260px;
  height: 215px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;
  padding-top:10px;
  margin-left:10px;
  margin-top:35px;
}
.tileVReq{
  width: 260px;
  height: 215px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;
  padding-top:10px;
  margin-left:298px;
  margin-top:35px;
}
.tileMU{
  width: 260px;
  height: 215px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;
  padding-top:10px;
  margin-left:298px;
  margin-top:285px;
}
.tileAAA{
  width: 260px;
  height: 215px;
  padding-top:10px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;
  margin-left:-278px;
  margin-top:35px;
}
.tileVReqC{
  width: 260px;
  height: 215px;
  padding-top:10px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;  
  margin-top:285px;
  margin-left:-278px;
}
.tileVC{
  width: 260px;
  height: 215px;
  padding-top:10px;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:absolute;  
  margin-top:285px;
  margin-left:10px;
}
.textmargin{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	
}
html{
	font-family: Arial, Helvectica, sans-serif;
	font-size: 10px;
}
body{
	display: grid;
	place-items:center;
}
::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #828282; 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a; 
}

.pf{
	width:50px; 
	height:50px;
	float: left;
	margin-right: 8px;
	border-radius: 100%;
}
.nagbar, li{
	font-size:16px;
	color:#f4f4f4;
}

header{
	background-color: #0048AA;
	height:40px;
	width: 1280px;
	max-width:2000px;
}
nav{
	margin-top:-35px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 30px 10%;
	font-family: "Raleway", sans-serif;
}
.navlinks li{
	display: inline-block;
	padding: 0px 20px;
}
h2{
  margin-top: -15px;
  color: #6A6A6A;
}
h1{
  margin-top: -55px;
  color: #393939;
}
h3{
	font-size: 1.7rem;
	line-height:30px;
	color: grey;
	
}
input[type="submit"] {
  background-color: #0048AA;
  border: none;
  font-size: 18px;
  letter-spacing:0px;
  border-radius: 8px 8px 8px 8px;
  font-weight: bold;
  color: white;
  -webkit-appearance:none;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 25px;
  cursor: pointer;
  width: 190px;
  height: 50px;
 
  outline: none;

}
h4{
	color: #6A6A6A;
}
a{
  text-decoration: none;
	color: #ddd;
}
input[type="submit"]:hover, a:hover, li:hover{
  opacity: 0.8;
}
@media only screen and (max-width: 350px) {
  .tile{
    width: 100%;
    height: 100%;
  }
}